In [11]:
import pandas as pd
df = pd.read_csv("/Learning/Python/JupyterNotebooks/py-master/ML/14_naive_bayes/spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
#do some data exploration
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [13]:
# now here both the columns are string so convert it to number
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df['Message'],df['spam'], test_size=0.25)

In [15]:
# now here Message is still in text but it is not a category so convert it using vectorization technique
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [19]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train_count,y_train)
x_test_count = cv.transform(x_test)
nb.score(x_test_count,y_test)

0.9813352476669059

In [21]:
predict = nb.predict(x_test_count)
predict

array([0, 0, 0, ..., 0, 0, 0])

In [35]:
pd.DataFrame(predict)

      0
0     0
1     0
2     0
3     0
4     0
...  ..
1388  0
1389  1
1390  0
1391  0
1392  0

[1393 rows x 1 columns]

In [38]:
test = pd.concat([x_test,y_test],axis=1)
test['predict'] = predict
test

                                                Message  spam  predict
2169              Thx. All will be well in a few months     0        0
698   meet you in corporation st outside gap … you c...     0        0
548                    Sorry that took so long, omw now     0        0
528          Yes! How is a pretty lady like you single?     0        0
539   Ummmmmaah Many many happy returns of d day my ...     0        0
...                                                 ...   ...      ...
3050  Lol they don't know about my awesome phone. I ...     0        0
4953  Welcome to Select, an O2 service with added be...     1        1
322   Hey... Why dont we just go watch x men and hav...     0        0
1556  Ok i found dis pierre cardin one which looks n...     0        0
4591  Tomorrow i am not going to theatre. . . So i c...     0        0

[1393 rows x 3 columns]